<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu" class="red makeBigger">
    <h1><span class="CenturyGothic">S</span>umana's Homepage</h1>
</div>
<div id="main_content">
    <p>
        <span class="makeBigger CenturyGothic">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque, ex sed viverra aliquet, tortor lectus
    vestibulum neque, in tincidunt urna felis ac felis. Phasellus tempus sodales sem, in finibus sapien semper sed.
    Mauris iaculis vitae orci quis blandit. Praesent nisi lorem, viverra ut odio at, efficitur accumsan velit.
    Pellentesque sapien risus, suscipit at augue id, tempus sollicitudin sapien. Maecenas vitae massa ultricies,
    eleifend velit sed, sollicitudin purus. Duis a sapien sed ipsum semper facilisis eget non orci. Sed vitae placerat
    orci. Quisque dapibus gravida quam. Etiam at neque sed massa porta gravida. Cras ultrices id sem sed tincidunt.
    Fusce porta leo non urna feugiat lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada
    fames ac turpis egestas. Quisque vitae neque ut sem luctus cursus pulvinar nec magna.
    </p>
    <p>
    Nulla vel rhoncus tortor, eu cursus risus. Nam elementum, mauris commodo volutpat efficitur, metus odio pellentesque
    magna, sit amet accumsan augue mi at velit. Morbi ac interdum mi, nec venenatis lectus. Nam eget nulla accumsan
    metus commodo sagittis. Donec et lectus lorem. Nulla sapien elit, bibendum quis tincidunt quis, tempor ac arcu. Ut
    facilisis varius aliquam. Pellentesque egestas sem nisi.
    </p>
    <p>
    Vestibulum sed turpis interdum, viverra purus in, cursus diam. Vestibulum ante ipsum primis in faucibus orci luctus
    et ultrices posuere cubilia curae; Maecenas at sem fermentum, semper augue sed, vulputate sem. Donec hendrerit at
    dui ut porttitor. Praesent consectetur ultrices nibh, et auctor metus egestas vitae. Mauris tortor mauris, gravida
    ut ultricies a, fringilla vel ligula. Proin ornare, ipsum ut semper facilisis, eros dui tristique ligula, in
    lobortis sem sem vitae ante.
    </p>
    <p>
    Etiam lobortis at ligula vitae iaculis. Sed condimentum ultrices maximus. Quisque mi enim, sodales vestibulum nisl
    a, dictum blandit mi. Nulla velit massa, viverra et tempus vel, viverra fringilla sapien. Donec tincidunt faucibus
    felis pulvinar porttitor. Mauris accumsan euismod augue, vitae ultrices magna congue eu. Suspendisse gravida metus
    vitae mattis euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Maecenas dictum, turpis quis finibus consectetur, augue odio bibendum lectus, ac dapibus mi lacus accumsan diam.
    Pellentesque sollicitudin turpis eget diam fermentum, nec luctus augue gravida.
    </p>
    <p>
    Pellentesque sed euismod eros. Vivamus lobortis nulla sed sodales porttitor. Donec vitae augue nunc. Praesent at
    velit quam. Cras tristique eget elit sit amet bibendum. Donec aliquam sem ligula, a vestibulum tortor malesuada a.
    Aenean et malesuada libero, et vestibulum est. Curabitur quis ante pulvinar, porttitor nisi ut, tempus ligula. Ut
    ornare turpis sed sem rhoncus maximus. Aliquam tempus, neque vitae semper tristique, nibh nulla placerat elit, id
    accumsan ante lectus eu nisi. Sed sed tristique sem, vitae ullamcorper tortor.
    </p>
</div>
</body>
</html>
